@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');
main{

}
body {
    margin:0;
    padding: 0;
}
header{
   display: flex;
   justify-content:space-between;
}
nav{
    display:flex;
    

}
ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;

}

li a {
    text-decoration: none;
}

li{
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
.image,{
     margin:auto;


}
.presentation {
    display:flex;
    width: 100%;
    /*flex-direction: row;*/
    height: 800px;
    background-color:steelblue
}

.text {
    display: flex;
    width: 50%;
    text-align:start;
    color:aliceblue;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    margin: 10px;
    padding:10px ;
}

.digital{
    margin: 30px;
    padding: 30px;
}
 
 .photo{
    width: 50%;
 }

.tof {
    width: 100%;
    height: 100%;
}
.button{
        box-shadow: 6px 1px 0px 0px #f0f7fa;
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        background-color:#33bdef;
        border-radius:42px;
        border:1px solid #057fd0;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:28px;
        font-weight:bold;
        padding:18px 76px;
        text-decoration:none;
        text-shadow:0px 8px 0px #5b6178;
    }
    .button:hover {
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        background-color:#019ad2;
    }
    .button:active {
        position:relative;
        top:1px;
    }
     h1{
         text-align: center;
         

    }
.se-former{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    /*width: 100%;*/
    height: 946px;
    text-align: justify;
}
.web{
    /* width: 60px;
    height: 60px; */
    border: aliceblue;
    
    
}
.se-former img {
    width: 60px;
}
.text1,.text2,.text3{
     display: flex;
     width: 15%; 
     text-align:center;
     /* color:aliceblue; */
     align-items:flex-start; 
     font-size: 35px;
     /* margin: 30px;
     padding:30px ; */
}
image1{
   
   margin: auto;
    
}



  
